@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  body{
    margin: 0;
    padding: 0;
  }
  .btn {
    @apply bg-green-500 text-white px-4 py-2 rounded;
  }

  p {
    @apply p-0 m-0;
  }
}